{% extends 'base.html' %}
{% load static %}
{% block css %}
<style>
    a .btn:hover {
        color: turquoise;
    }
    .content-section {
        box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .content-section h3 {
        font-weight: 1000;
        color: yellowgreen;

    }
    .content-section .row .col {
        width: 50%;
    }
    .content-section .media {
        border:groove rebeccapurple;
        border-radius: 10px;
    }
    .content-section .media .media-body  .btn:hover{
        color: turquoise;
        background-color:mediumslateblue;
    }
    .content-section .media a {
        color:rgb(81, 81, 192);
    }

</style>
{% endblock %}
{% block content %}
<section class='content-section m-5 p-4'>
    <h3> Registered Complaints</h3>
    {%for complaint in complaints %}
    <section class="media  p-3 mt-3">
        <section class="media-body p-3">
            <h4>Complaint:<a href="{% url 'DoctorComplaintDetailView' complaint.id %}">{{complaint.Complaint_Name}}</a></h4><small>Posted on {{complaint.Date | date}}</small>
            <h6>Registered patient:{{complaint.patient.user.username}}</h6>
            <a href="{% url 'PrescriptionForm' complaint.id  %}" class='btn btn-success'>Advice Prescription</a>
        </section>
    </section>
    {%endfor%}
</section>

{% endblock %}