{% extends 'base.html' %}
{% load static %}
{%block css %}
<style>
  .container  {
    width: 100%;
  }
  .content-section  {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 3px;
    border-radius: 12px;
    position: relative;
    left: 260px;
    top:20px;
  }
  .content-section h2 {
    color: yellowgreen;
    font-size: 30pt;
  }
  .content-section .media {
    border:10px yellow;
    border-style: ridge;
    border-radius: 40px;
    
  
  }
  .row .content-section {
    width: 50%;
  }
  .content-section h2{
    font-weight: 400;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .content-section .media  h4  {
    color:blueviolet;
    color-interpolation-filters: sRGB;
    font-weight: 1000;
    font-family: 'Times New Roman', Times, serif
  }
</style>
{% endblock %}
{% block content %}
<div class="content-section mt-3 p-3">
    <h2>{{user.username}}'s Profile</h2>
    <p>Your Profile Description:</p>
    <section class="media border p-3">
      <img src="{% static 'images/UserAvatar.jpg' %}" alt='ProfilePic' class="mr-3 mt-1 rounded-circle" style="width: 80px;">
      <section class="media-body p-2">
        <h4>{{user.username}} <small><i></i></small></h4>
        <h6>Age:{{user.age}}</h6>
        <h6>Gender:{{user.gender}}</h6>
        <h6>Email:{{user.email}}</Address></h6>
        <h6>Role:Patient</h6>
        <h6>Registered Doctor:{{patient.doctor.user.username}},{{patient.doctor.Specialization}}</h6>
        <h6>Phone No:{{user.phoneno}}</h6>
        <h6>Address:{{user.address}}</h6>      
      </div>
    </div>
    
  </div>
  {% endblock %}